{
  "arrowParens": "always",
  "bracketSpacing": false,
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.json", ".prettierrc", ".babelrc"],
      "options": {"parser": "json"}
    }
  ]
}
